*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/app/src/main/assets
/app/src/main/res/values/unit*
/app/src/main/res/values/splash*
/app/src/main/res/values/grammer.xml
/app/src/main/res/values/help_text_first.xml
/app/src/main/res/values/list_to_show.xml

/app/src/main/res/drawable
!/app/src/main/res/drawable/ic_launcher
